<ion-view view-title="Activities">
  <ion-content scroll="true" overflow-scroll="false">
    <a ng-repeat="activity in activities | filter: query" href="#/app/activities/{{activity.productId}}">
      <div class="container">
        <div class="subContainer">
          <div class="item-image">
            <img class="imgbox" ng-src={{activity.mediumSizeUrl}} alt="no image">
          </div>
          <div class="details">
            <h3 class="mainHead">{{activity.productName | limitTo:35}}
              {{activity.productName.length > 35 ? '&hellip;' : ''}}</h3>
            <p class="subHead" ng-bind="getCity(activity.timeZone)"></p>
          </div>
          <p class="price">${{activity.advertisedPrice}}</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>
