<ion-view view-title="Detail">
  <ion-content scroll="true" overflow-scroll="false">
    <div ng-repeat="activity in activities | filter: {productId: specificActivity}">
     <div class="mainContainer">
       <div class= "imageContainer">
          <img class="image" src="{{activity.mediumSizeUrl}}" alt="no image">
       </div>
     </div>
      <a href="#/app/book/{{specificActivity}}"><span class="Button">Book</span></a>
      <div class="putHeading">
        <p class="event">{{activity.productName}}</p>
        <p ng-bind="getCity(activity.timeZone)" class="place"></p>
        <p class="cost">${{activity.advertisedPrice}}</p>
      </div>
      <div class="bottom">
        <p class="tex">{{provider}}</p>
        <p ng-bind-html="description"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
